
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:100px 100px;
	grid-template-rows:100px 100px;
	grid-gap:10px;
}
.item1{
	background-color:#f2f2f2;
	padding:20px;
}
.item2{
	background-color:#f2f2f2;
	padding:20px;
}
.item3{
	background-color:#f2f2f2;
	padding:20px;
}
.item4{
	background-color:#f2f2f2;
	padding:20px;
}